footer {
    font-family: 'Manrope', sans-serif;
    background-color: #DBE1FF;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    color: #3A485B;
    font-size: 0.9rem;
    width: 100%;
}